body {
    background-image: url(https://i.imgur.com/LPEDaLJ.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    margin: 100px 400px;
    text-align: center;
}

#Registration {
    width: 50%;
    background-color: #fff;
    opacity: 0.8;
    padding: 50px 120px;
}

#Name {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: 0px;
}

#Number {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: 0px;
}

#DOB {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: 0px;
}

#email {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: 0px;
}

#Select {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    outline: 0px;
    font-size: 15px;
}
.submit {
    background: dimgray;
    color: gold;
    border: none;
    padding: 10px;
    height: 40px;
    font-size: 20px;
}